@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    display: flex;
    height: 100vh;
    flex-flow: column;
    justify-content: center;
    background-color: rgb(28, 28, 28);
    align-items: center;
    position: relative;
}

.board-wrapper {
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    border: 1px solid rgb(120, 120, 120);
    border-collapse: collapse;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x::before, .x::after {
    position: absolute;
    content: '';
    width: 5%;
    background-color: rgb(138, 138, 138);
    height: 100%;
}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

.o::before {
    position: absolute;
    content: '';
    border: 12px solid rgb(138, 138, 138);
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.modal-end {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,0,0.7);
}

.reset-btn {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    font-size: 2vmin;
    cursor: pointer;
}